<!DOCTYPE html>
<html>
    <head>
        <style>
            .background-img {
                position: fixed;
                top:0;
                left: 0;
                right: 0;
                height: 100%;
                display: block;
                background-image: url('static/anaylatics.jpg');
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                filter-img: blur(3px);
            }        
    </style>
    </head>
    <body class="background-img">
    <h1 align="center">Upload Excel Data&Read</h1>
    {% block content %}

    {% endblock %}
    </body>
</html>